*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Nunito Sans', sans-serif;
}
body{
    background-color: black;
}
.container{
    margin: auto;
    width: 50%;
}

.title{
    text-align: center;
    padding-top: 36px;
    padding-bottom: 24px;
}

.title h2{
    padding-bottom: 15px;
    font-weight: 800;
    font-size: 32px;
    color: rgb(187, 16, 202);
}

.title p{
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.submit{
    margin: 0px 85px;
}

.label{
    color: white;
    font-weight: 600;
}

.submit-form{
    margin: 16px 0px;
}

.form-item{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
}

.form-item input{
    background-color: rgb(206, 199, 199);
    margin-top: 7px;
    padding: 7px;
    display: block;
    width: 100%;
    font-weight:600;
    border: 0.3px rgb(0, 0, 0) solid;
}

.form-item button{
    background-color: rgb(84, 52, 134);
    color: white;
    padding: 10px 14px;
    border-radius: 4px;
    font-weight: 600;
    border: none;
    text-decoration: none;

}
#submit-item{
    cursor: pointer;
}
#submit-item:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(135, 21, 158);

}
.alert{
    color: white;
    margin-top: 28px;
    margin-left: 20px;
    font-weight:500;
}
